body {
    background-color: rgba(0, 0, 0, 0.89);

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 56, 177);

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;

}

/*
p {
 
    color: rgb(223, 238, 18);
    font-family: Arial,
        Helvetica,
        sans-serif;
    size: "7";
}









*/